* {
  font-family: "Bagel Fat One", system-ui;
  font-weight: 600;
  font-style: normal;
  
}
h1 {
  font-size: 4rem;
}

body {
    background-color: rgb(192, 188, 188);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.board {
    border-radius: 1rem;
    border:5px solid black;
    overflow: hidden;
    min-width: 600px;
    min-height: 600px;
    background-color: black;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3,1fr);
}
.box {
  text-align: center;
  background: gray;
  font-size: 8em;  
}
.box:hover {
  background-color: darkgray;
}
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.hide {
  display: none;
}